$yellow: #F7FD04;
$orange: #F9B208;
$dark-orange: #F98404;
$red: #FC5404;
$gray: #ECECEC;
$black: #00000000;

$font-family: 'Ubuntu', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;